body{
    background: white url(../images/bg.png);
}

#to_day{
    padding-top: 10px;
    font-size: 2em;
}

#shi span{
    writing-mode: vertical-rl;
    writing-mode: tb-lr;
    font-family: STKaiti, KaiTi, PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif;
}

#title span{
    font-size: 2.5em;
    font-weight: 310;
    text-align: center;
}

#author span{
    padding-top: 0.9em;
    /* background: white url(./images/yz.png) no-repeat bottom; */
    background-size: 350%;
    border-radius: 50%;
    background-position: 200 320;
    opacity: 0.9;
    padding: 1em .5em;
    font-size: 1.5em;
}

#content{
    padding-top: .7em;
    font-size: 1.5em;
    line-height: 1.8em;
    letter-spacing: 5px;
    font-weight: 300;
}

.right_lower{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 500px;
    height: 200px;
    background-image: url("../images/shixian.png");
    background-size: 100% 100%;
}