*{margin: 0;padding: 0;}
.clear{clear:both; height: 0; line-height: 0; font-size: 0}
body{
    background: white url(../images/bg.png);
}

#app {
    font-family: STKaiti, KaiTi, PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif;
}

.to_day{
    padding: 5px;
    text-align: right;
    font-size: 1.3em;

}
.dtp{
    writing-mode: vertical-rl;
}

.shi_title{
    font-size: 2.5em;
    font-weight: 310;
    text-align: center;
}

.shi_author{
    padding-top: 0.9em;
    /* background: white url(./images/yz.png) no-repeat bottom; */
    background-size: 350%;
    border-radius: 50%;
    background-position: 200 320;
    opacity: 0.9;
    padding: 1em .5em;
    font-size: 1.2em;
}

.shi_content{
    padding-top: .7em;
    font-size: 1.5em;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-weight: 300;
}

.shi_title_mobile{
    font-size: 2em;
    font-weight: 310;
    text-align: center;
}

.shi_author_mobile{
    padding-top: 0.5em;
    /* background: white url(./images/yz.png) no-repeat bottom; */
    background-size: 250%;
    border-radius: 50%;
    background-position: 200 320;
    opacity: 0.9;
    padding: 1em .5em;
    font-size: 1.2em;
}

.shi_content_mobile{
    padding-top: .7em;
    font-size: 1.5em;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-weight: 300;
}

.right_lower{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 500px;
    height: 200px;
    background-image: url("../images/shixian.png");
    background-size: 100% 100%;
}